@model Mvc_CRUD.Models.Product
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<dl>
    <dt>@Html.DisplayNameFor(Model => Model.Id)</dt>
    <dd>@Html.DisplayFor(Model => Model.Id)</dd>

    <dt>@Html.DisplayNameFor(Model => Model.Name)</dt>
    <dd>@Html.DisplayFor(Model => Model.Name)</dd>

    <dt>@Html.DisplayNameFor(Model => Model.Price)</dt>
    <dd>@Html.DisplayFor(Model => Model.Price)</dd>
</dl>
