@model MyAcademyFrontDesk.Models.CohortDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CohortDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CohortCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CohortCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnologyStack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnologyStack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TraineeCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TraineeCount)
        </dd>
    </dl>

    <partial name="_pvTrainees" model="Model.Trainees" />
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
