@model IEnumerable<MyAcademyFrontDesk.Models.TrainingSessionDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CohortCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVirtual)
            </th>



        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CohortCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerName)
            </td>
            <td>
                @item.FromDate.ToShortDateString()
            </td>
            <td>
                @item.ToDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVirtual)
            </td>



        </tr>
}
    </tbody>
</table>
